main ul li{
    margin-top: 10px;
}

/* main */

.article-roles{
    border-left: 3px solid rgb(192,77,254);
}
.roles-gif{
    padding: 10px 0px 10px 7px;
}
.roles-gif img{
    width: 80%;
    border-radius: 5px;
}
.role-text{
    margin-top: 16px;
}
.roles-competition{
    margin-top: 3px;
}
.more-about-clans{
    margin-top: 3px;
}
.role{
    margin-top: 15px;
    border-radius: 3px;
    font-size: 16px;
    width: auto;
    padding: 1px 3px 1px 2px;
}

/* roles */

.plebey{
    color:rgb(93,119,133);
    background-color: rgba(93,119,133, 0.2);
}
.gremlin{
    color:#5398be;
    background-color: rgba(83,152,190, 0.2);
}
.kiska{
    color:#d47daf;
    background-color: rgba(212,125,175, 0.2);
}
.turbo-gnom{
    color:rgb(0,101,187);
    background-color: rgba(0,101,187, 0.2);
}
.streamer{
    color: rgb(113,54,138);
    background-color: rgba(113,54,138, 0.2);
}
.neadekvat{
    color:black;
    background-color: rgba(0, 0,0, 0.2);
}
.sgc{
    color:rgb(206,99,144);
    background-color: rgba(206,99,144, 0.2);
}
.clan163{
    color:rgb(197,153,111);
    background-color: rgba(197,153,111, 0.2);
}
.balabol{
    color:rgb(205,72,59);
    background-color: rgba(205,72,59, 0.2);
}
.batya-chata{
    color:rgb(108,54,131);
    background-color: rgba(108,54,131, 0.2);
}
.postoyalec{
    color:rgb(46,203,112);
    background-color: rgba(46,203,112, 0.2);
}
.batya-voisa{
    color:rgb(164,22,84);
    background-color: rgba(164,22,84, 0.2);
}
.partner{
    color:rgb(153,45,34);
    background-color: rgba(153,45,34, 0.2);
}
.sponsor{
    color:rgb(118,26,214);
    background-color: rgba(118,26,214, 0.2);
}
.redactor{
    color:rgb(123,0,179);
    background-color: rgba(123,0,179, 0.2);
}
.pro-redactor{
    color:#982dc2;
    background-color: rgba(152,45,194, 0.2);
}
.moder{
    color:rgb(202,31,255);
    background-color: rgba(202,31,255, 0.2);
}
.admin{
    color:rgb(188,142,230);
    background-color: rgba(188,142,230, 0.2);
}
.owner{
    color:rgb(217,163,255);
    background-color: rgba(217,163,255, 0.2);
}

/* mobile version vertical */

@media screen and (min-width: 280px) and (max-width: 415px){
    main ul li{
        margin-top: 6px;
    }
    .role-text{
        margin-top: 10.5px;
    }
    .role{
        margin-top: 10px;
        font-size: 11px;
        padding: 1px 2px 1px 1px;
        border-radius: 2px;
    }
    .roles-gif{
        padding: 7px 0px 7px 4px;
    }
    .roles-gif img{
        width: 90%;
        border-radius: 3px;
    }
}

/* mobile version horizontal */

@media screen and (min-width: 416px) and (max-width: 1141px) {
    .role{
        font-size: 14px;
    }
}

/* tablet version */

@media screen and (min-width: 1142px) and (max-width: 1919px) {
    .role{
        font-size: 15.5px;
    }
}